In [18]:
import pandas as pd

In [19]:
# importing dataset
ds = pd.read_csv("50_Startups.csv")

In [20]:
ds.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [21]:
ds.columns

Index(['R&D Spend', 'Administration', 'Marketing Spend', 'State', 'Profit'], dtype='object')

In [22]:
ds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   R&D Spend        50 non-null     float64
 1   Administration   50 non-null     float64
 2   Marketing Spend  50 non-null     float64
 3   State            50 non-null     object
 4   Profit           50 non-null     float64
dtypes: float64(4), object(1)
memory usage: 2.1+ KB

In [23]:
y = ds['Profit']

In [24]:
type(y)

pandas.core.series.Series

In [25]:
# The values property is used to get a Numpy representation of the DataFrame. Only the values
# in the DataFrame will be returned, the axes labels will be removed
y = y.values

In [26]:
type(y)

numpy.ndarray

In [27]:
X = ds[['R&D Spend', 'Administration', 'Marketing Spend', 'State']]

In [28]:
X.shape

(50, 4)

In [29]:
X.head()

   R&D Spend  Administration  Marketing Spend       State
0  165349.20       136897.80        471784.10    New York
1  162597.70       151377.59        443898.53  California
2  153441.51       101145.55        407934.54     Florida
3  144372.41       118671.85        383199.62    New York
4  142107.34        91391.77        366168.42     Florida

In [30]:
from sklearn.linear_model import LinearRegression

In [31]:
model = LinearRegression()

In [32]:
# we get value error here due to the STATE data as string
model.fit(X,y)

ValueError: could not convert string to float: 'New York'