In [3]:
import pandas as pd

# 2 main datatypes

In [4]:
# 1 Series
#series are used for 1-dimensional column
brand = pd.Series(['Lenovo','Dell','Samsung','Apple'])
brand

0     Lenovo
1       Dell
2    Samsung
3      Apple
dtype: object

In [5]:
colour = pd.Series(['Red','Blue','Green','Black'])
colour

0      Red
1     Blue
2    Green
3    Black
dtype: object

In [6]:
# 2 Data Frame
# dataframe are 2-dimensional

In [7]:
laptop_data = pd.DataFrame({"Company":brand,"Design":colour})
laptop_data

   Company Design
0   Lenovo    Red
1     Dell   Blue
2  Samsung  Green
3    Apple  Black

# Importing And Exporting Data

In [8]:
wth = pd.read_csv("weather.csv")
wth

     outlook  temp  humidity  windy play
0      sunny    85        85  False   no
1      sunny    80        90   True   no
2   overcast    83        86  False  yes
3      rainy    70        96  False  yes
4      rainy    68        80  False  yes
5      rainy    65        70   True   no
6   overcast    64        65   True  yes
7      sunny    72        95  False   no
8      sunny    69        70  False  yes
9      rainy    75        80  False  yes
10     sunny    75        70   True  yes
11  overcast    72        90   True  yes
12  overcast    81        75  False  yes
13     rainy    71        91   True   no

In [10]:
#exporting DataFrame to CSV
wth.to_csv("exportedWeather.csv", index = True)
#index help to export data with the index or without index number

# Describing Data

In [15]:
# Attribute so no ()
wth.dtypes #to find datatype of rows values

outlook     object
temp         int64
humidity     int64
windy         bool
play        object
dtype: object

In [16]:
# Function so ()
wth.head()

    outlook  temp  humidity  windy play
0     sunny    85        85  False   no
1     sunny    80        90   True   no
2  overcast    83        86  False  yes
3     rainy    70        96  False  yes
4     rainy    68        80  False  yes

In [18]:
wth.columns #gives list of columns

Index(['outlook', 'temp', 'humidity', 'windy', 'play'], dtype='object')

In [21]:
wth.index #gives the index of values

RangeIndex(start=0, stop=14, step=1)

In [24]:
wth.describe() #provide 5 number summary of every numeric column

            temp   humidity
count  14.000000  14.000000
mean   73.571429  81.642857
std     6.571667  10.285218
min    64.000000  65.000000
25%    69.250000  71.250000
50%    72.000000  82.500000
75%    78.750000  90.000000
max    85.000000  96.000000

In [27]:
wth.info() #gives info about every column head AKA (index + dtype)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   outlook   14 non-null     object
 1   temp      14 non-null     int64
 2   humidity  14 non-null     int64
 3   windy     14 non-null     bool
 4   play      14 non-null     object
dtypes: bool(1), int64(2), object(2)
memory usage: 590.0+ bytes

In [35]:
wth.mean()

temp        73.571429
humidity    81.642857
windy        0.428571
dtype: float64

In [36]:
wth.median()

temp        72.0
humidity    82.5
windy        0.0
dtype: float64

In [30]:
wth.mode()

  outlook  temp  humidity  windy play
0   rainy    72      70.0  False  yes
1   sunny    75       NaN    NaN  NaN

In [38]:
wth.sum() #gives for all data

outlook     sunnysunnyovercastrainyrainyrainyovercastsunny...
temp                                                     1030
humidity                                                 1143
windy                                                       6
play                    nonoyesyesyesnoyesnoyesyesyesyesyesno
dtype: object

In [39]:
wth["humidity"].sum() # for a single column

1143

In [41]:
len(wth) #to find length of the column so we can work on manipulation easily

14