In [17]:
import pandas as pd

# 2 main datatypes

In [18]:
# 1 Series
#series are used for 1-dimensional column
brand = pd.Series(['Lenovo','Dell','Samsung','Apple'])
brand

0     Lenovo
1       Dell
2    Samsung
3      Apple
dtype: object

In [19]:
colour = pd.Series(['Red','Blue','Green','Black'])
colour

0      Red
1     Blue
2    Green
3    Black
dtype: object

In [15]:
# 2 Data Frame
# dataframe are 2-dimensional

In [20]:
laptop_data = pd.DataFrame({"Company":brand,"Design":colour})
laptop_data

   Company Design
0   Lenovo    Red
1     Dell   Blue
2  Samsung  Green
3    Apple  Black

# Importing And Exporting Data

In [21]:
wth = pd.read_csv("weather.csv")
wth

     outlook  temp  humidity  windy play
0      sunny    85        85  False   no
1      sunny    80        90   True   no
2   overcast    83        86  False  yes
3      rainy    70        96  False  yes
4      rainy    68        80  False  yes
5      rainy    65        70   True   no
6   overcast    64        65   True  yes
7      sunny    72        95  False   no
8      sunny    69        70  False  yes
9      rainy    75        80  False  yes
10     sunny    75        70   True  yes
11  overcast    72        90   True  yes
12  overcast    81        75  False  yes
13     rainy    71        91   True   no

In [24]:
wth.head(5)

    outlook  temp  humidity  windy play
0     sunny    85        85  False   no
1     sunny    80        90   True   no
2  overcast    83        86  False  yes
3     rainy    70        96  False  yes
4     rainy    68        80  False  yes

In [30]:
#exporting DataFrame to CSV
wth.to_csv("exportedWeather.csv", index = True)
#index help to export data with the index or without index number