## NUMPY 

# 1. Data Type And Attribute

In [1]:
#importing numpy array
import numpy as np

In [2]:
#datatype
a1 = np.array([1,2,3])
a1

array([1, 2, 3])

In [3]:
a2 = np.array([[ 1, 2.2, 3.3] , [ 4, 5.2, 6]])
a2

array([[1. , 2.2, 3.3],
       [4. , 5.2, 6. ]])

In [4]:
#a3 = np.array([ [[1,2,3],[4,5,6]]  ,  [[7,8,9],[10,11,12]]  ,  [[13,14,15],[16,17,18]] ])
a3 = np.array([[[1, 2, 3],
                [4, 5, 6]],
               [[7, 8, 9],
                [10, 11, 12]],
               [[13, 14, 15],
                [16, 17, 18]]])
a3

array([[[ 1,  2,  3],
        [ 4,  5,  6]],

       [[ 7,  8,  9],
        [10, 11, 12]],

       [[13, 14, 15],
        [16, 17, 18]]])

In [5]:
#attributes

In [6]:
#shape of the ndarray
a1.shape, a2.shape, a3.shape

((3,), (2, 3), (3, 2, 3))

In [7]:
#above shape is (0,1,n) where 0 is row(axis 1), 1 is column(axis 2), n is dimension(axis n)

In [8]:
#dimentional of the array
a1.ndim,  a2.ndim,  a3.ndim

(1, 2, 3)

In [9]:
#data type of array
a1.dtype,  a2.dtype,  a3.dtype

(dtype('int32'), dtype('float64'), dtype('int32'))

In [10]:
#size of the array ie total elements
a1.size,  a2.size,  a3.size

(3, 6, 18)

In [11]:
#type of the variable
type(a1),  type(a2),  type(a3)

(numpy.ndarray, numpy.ndarray, numpy.ndarray)

In [12]:
#checking numpy is backbone of other datatype
import pandas as pd
df = pd.DataFrame(a2)
df

     0    1    2
0  1.0  2.2  3.3
1  4.0  5.2  6.0

## 2. Creating Numpy Array

In [13]:
sampleArray = np.array([1,2,3])
sampleArray

array([1, 2, 3])

In [14]:
#take the shape and return the shape fill with 1 or 0
oneArray = np.ones((2,3))
oneArray

array([[1., 1., 1.],
       [1., 1., 1.]])

In [15]:
zeroArray = np.zeros((2,3))
zeroArray

array([[0., 0., 0.],
       [0., 0., 0.]])

In [16]:
#rangeArr = np.arange(starting(opt), stop, step(opt))
rangeArr = np.arange(5)
rangeArr

array([0, 1, 2, 3, 4])

In [17]:
rangeArr2 = np.arange(0,10,3)
rangeArr2

array([0, 3, 6, 9])

In [18]:
#random array taking size from 0 to 1
randomArr = np.random.random((3,5))
randomArr

array([[0.22782015, 0.25190361, 0.34749517, 0.07279136, 0.91642642],
       [0.5151615 , 0.27695429, 0.14700498, 0.73359654, 0.93080228],
       [0.13152966, 0.09775745, 0.8802684 , 0.92316258, 0.14531711]])

In [19]:
#randomArr2 = np.random.rand(0,10, size= (2,4))   #gives float
randomArr2 = np.random.randint(0,10, size= (2,4))    #gives integer
randomArr2

array([[5, 3, 6, 0],
       [8, 1, 1, 1]])

In [20]:
#now we want the stable random value so we use seed
randomSeed = np.random.seed(3)
randomWithSeed = np.random.randint(0,10, size = (2,4))
randomWithSeed      #doesn't change

array([[8, 9, 3, 8],
       [8, 0, 5, 3]])

## 3. Viewing Array And Matrix

In [23]:
#checking unique elements in a random array
uniq = np.unique(randomArr2)
uniq

array([0, 1, 3, 5, 6, 8])

In [32]:
#checking the index
a1[2],  a2[0],  a3[2]

(3,
 array([1. , 2.2, 3.3]),
 array([[13, 14, 15],
        [16, 17, 18]]))

In [35]:
a3

array([[[ 1,  2,  3],
        [ 4,  5,  6]],

       [[ 7,  8,  9],
        [10, 11, 12]],

       [[13, 14, 15],
        [16, 17, 18]]])

In [36]:
a3.shape

(3, 2, 3)

In [39]:
#slicing
a3[:2, :2, :2]

array([[[ 1,  2],
        [ 4,  5]],

       [[ 7,  8],
        [10, 11]]])

In [53]:
a4 = np.random.randint(10, size=(2,3,4,5))
a4
# here 5 is row, 4 is comlumn, 3 is no of array block, 2 is no of array block of 3

array([[[[7, 9, 1, 9, 0],
         [7, 4, 8, 8, 4],
         [1, 4, 0, 5, 6],
         [7, 0, 7, 8, 1]],

        [[5, 3, 6, 9, 1],
         [3, 7, 4, 9, 0],
         [8, 4, 7, 8, 5],
         [6, 7, 3, 5, 1]],

        [[8, 9, 2, 9, 8],
         [9, 4, 5, 0, 8],
         [7, 1, 2, 5, 2],
         [7, 6, 7, 9, 1]]],


       [[[5, 7, 5, 9, 7],
         [2, 6, 4, 8, 4],
         [9, 3, 8, 5, 6],
         [3, 8, 4, 2, 7]],

        [[7, 2, 2, 0, 7],
         [5, 0, 3, 3, 5],
         [5, 4, 7, 2, 2],
         [6, 6, 3, 6, 7]],

        [[7, 0, 8, 9, 4],
         [5, 4, 5, 0, 3],
         [5, 4, 2, 5, 1],
         [7, 9, 6, 0, 1]]]])

In [51]:
#get first four number from the innermost array
a4[:,:,:,:4]

#a4's shape is (2, 3, 4, 5), this means it gets displayed like so:
#Inner most array = size 5
#Next array = size 4
#Next array = size 3
#Outer most array = size 2

array([[[[9, 9, 5, 7],
         [0, 4, 7, 8],
         [6, 2, 2, 1],
         [5, 8, 1, 8]],

        [[8, 1, 0, 5],
         [1, 5, 4, 7],
         [0, 0, 9, 2],
         [5, 8, 8, 7]],

        [[1, 1, 1, 5],
         [7, 4, 3, 0],
         [0, 0, 2, 2],
         [0, 5, 0, 1]]],


       [[[1, 2, 2, 4],
         [0, 6, 0, 4],
         [5, 1, 8, 8],
         [0, 0, 9, 1]],

        [[8, 7, 4, 0],
         [4, 3, 0, 8],
         [7, 2, 1, 3],
         [4, 1, 2, 2]],

        [[3, 4, 1, 6],
         [9, 1, 0, 0],
         [8, 4, 8, 8],
         [4, 9, 2, 5]]]])